.git
.gitignore
.venv
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
build
dist
patch_notes
client
deploy
README.md
server/__pycache__
server/.jwt_secret
server/riot_matches.db
client/team_builder_client_error.log
